<h1><%= I18n.t('welcome.title') %>, <%= @teacher.full_name %></h1>

<h2><%= I18n.t('welcome.text') %></h2>

<% if @generated_password.present? %>
  <%= I18n.t('email') %>: <%= @teacher.email %> <br>
  <%= I18n.t('password_generated') %>: <%= @generated_password %>
<% end %>